<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create news</title>
</head>
<body>
    <h1>Creating</h1>
    <form method="POST" action="/create/">
        <label>
            Title <br> <br>
            <input name="title" type="text" required>
        </label>
        <br><br>
        <label for="body">Body</label> <br><br>
        <textarea name="body" required></textarea> <br><br>
        <button>Create</button>
    </form>
</body>
</html>