<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit news</title>
</head>
<body>
    <h1>Editing {{.Title}}</h1>
    <form method="POST" action="/update/{{.Id}}">
        <label>
            Title <br> <br>
            <input name="title" type="text" value="{{.Title}}">
        </label>
        <br><br>
        <label for="body">Body</label> <br><br>
        <textarea name="body">{{.Body}}</textarea> <br><br>
        <button>Save</button>
    </form>
</body>
</html>